@import './styles/variables.scss';

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
  line-height: 150%;
  color: $textColor-primary;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 1290px;
  margin: 0 auto;
}
